@import '../../styles/abstracts/variables';

.categories {
  display: flex;
  overflow-x: auto;
  max-width: 80%;
  flex: 1 1;
  @media (max-width: 800px) {
    max-width: 95%;
  }
  &__item {
    border-style: none;
    background-color: #f9f9f9;
    padding: 13px 30px;
    border-radius: 30px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    user-select: none;
    font-size: 16px;

    &:hover {
      background-color: darken(#f9f9f9, 2%);
    }

    &:active {
      background-color: darken(#f9f9f9, 5%);
    }

    &.active {
      background-color: #282828;
      color: #fff;
    }
  }
}
